@model IEnumerable<ESWProjectAlbergue.Models.AdoptionForm>

@{
    ViewData["Title"] = "Index";
}

<h2>Pedido Adoção</h2>

<p>O seu pedido de adoção foi efetuado com sucesso. Em breve irá obter a sua resposta.</p>
