@page
@model IndexModel
@{
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
    ViewData["Title"] = "Perfil de Utilizador";
}


<link href="css/site.css" rel="stylesheet" type="text/css" />

<style>
    .container-all {
        background-color: #333333;
        padding: 20px;
        padding-top: 6px;
        border-style: solid;
        border-width: 5px;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        display: inline-block;
        background-color: #333333;
        border-radius: 25px;
        position: center;
    }

    .whitetext {
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
    }

    .perfil {
        font-family: "Pacifico";
        font-size: 40px;
        width: 100%;
        text-align: center;
        margin-top: 3%;
        color: #FFFFFF;
    }

    .form-create {
    }

    .creates {
        margin: 0 auto;
        width: fit-content;
    }

    .btnadotarmale {
        background-color: #02A69E;
        text-transform: uppercase;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
    }

        .btnadotarmale:hover {
            background-color: gray;
            color: white;
        }

    .btnatualizar {
        margin: 0 auto;
        align-content: center;
        display: table;
    }
</style>

<div class="container-all">

    <h2 class="perfil">Perfil</h2>
    <hr />

    <div class="form-create">

        <div class="creates">
            @Html.Partial("_StatusMessage", Model.StatusMessage)


            <form id="profile-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <!--
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
                -->
                <div class="form-group">
                    <label asp-for="Input.Email" class="whitetext"></label>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Input.Email" class="form-control" />
                            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Input.Email" class="form-control" />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    }
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="Input.Name" class="whitetext"></label>
                        <input asp-for="Input.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.BirthDate" class="whitetext"></label>
                        <input asp-for="Input.BirthDate" class="form-control" type="date" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Address" class="whitetext"></label>
                        <input asp-for="Input.Address" class="form-control" />
                    </div>
                    <!--div class="form-group" style="display: none;">
                    <label asp-for="Input.PostalCode"></label>
                    <input asp-for="Input.PostalCode" class="form-control" />
                </div>-->
                    <div>
                        <label asp-for="Input.PhoneNumber" class="whitetext">Contacto</label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>

                </div>
                <div class="btnatualizar">
                    <button type="submit" class="btnadotarmale">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
