<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ESWProjectAlbergue</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>
    <div class="nav-green container-fluid center-block">
        <img src="~/images/Quinta.jpg" />
        <h1 style="display:inline-block; font-family:'Pacifico'; color:white;  "> Quinta do Mião</h1>
    </div>
    <nav>


        <div class="nav-black container navbar-collapse collapse navbar-fixed">
            <ul class="nav navbar-nav ">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>

    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />



        <footer>
            <p>Horário de atendimento ao público: </p>
            <p>Segunda a Sexta-feira, das 14:00h às 17:00h</p>
            <p>Sábados, das 10:00h às 13:00h.</p>
            <p> T: 212068625</p>

            <p>&copy; 2018 - ESWProjectAlbergue</p>
        </footer>

    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
