
@{
    ViewData["Title"] = "About";
}

<h2>Sobre</h2>

<p>Projeto que pertende que seja desenvolvida uma aplicação para dar suporte as atividades de um albergue de animais</p>

<ul>
    <li>Diogo Silva :'( </li>
    <li>João Valada</li>
    <li>Marcos Letras</li>
    <li>Mariana Luciano</li>
    <li>Miguel Figueira</li>
</ul>
