@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Hello World!</h1>
<ul>
    <li>Diogo Silva</li>
    <li>João Valada</li>
    <li>Marcos Letras</li>
    <li>Mariana Luciano</li>
    <li>Miguel Figueira</li>
</ul>
