@{
    ViewData["Title"] = "Contacto";
    ViewData["Message"] = "";
}

<style>
    .centerdiv {
        display: table;
        margin: 0 auto;
    }

    .container-all {
        background-color: #333333;
        padding: 20px;
        padding-top: 6px;
        border-style: solid;
        border-width: 5px;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        display: inline-block;
        background-color: #333333;
        border-radius: 25px;
        position: center;
    }

    .contacto {
        font-family: "Pacifico";
        font-size: 40px;
        width: 100%;
        text-align: center;
        margin-top: 3%;
        color: #FFFFFF;
    }

    .whitetext {
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
</style>

<div class="container-all">
    <h2 class="contacto">Contactos</h2>
    <div class="centerdiv ">
        <p class="whitetext bold">“Quinta do Mião” – CIRAE</p>
        <p class="whitetext">
            Horário de atendimento ao público: <br />Segunda a sexta-feira, das 14:00h às 17:00h <br /> Sábados, das 10:00h às 13:00h.
        </p>
        <p class="whitetext bold">
            Telefone: 212 068 625
        </p>
        <p>
            <a href="https://www.facebook.com/quintamiao/">
                <img border="0"  src="~/images/facebook.png" width="32" height="32">
            </a>
        </p>

    



        <p class="whitetext bold">
            VACINAÇÃO ANTIRRÁBICA

        <p class="whitetext">
            Quinta do Matão - Câmara Municipal da Moita

        <p class="whitetext">
            Horário:  3ªs feiras das 9:30h às 11:00h

        <p class="whitetext"> Telefone: 212 806 700


    </div>
</div>
