@model ESWProjectAlbergue.Models.MainAnimal

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MainAnimal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalTypeId" class="control-label"></label>
                <select asp-for="AnimalTypeId" class ="form-control" asp-items="ViewBag.AnimalTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GenderTypeId" class="control-label"></label>
                <select asp-for="GenderTypeId" class ="form-control" asp-items="ViewBag.GenderTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalAgeTypeId" class="control-label"></label>
                <select asp-for="AnimalAgeTypeId" class ="form-control" asp-items="ViewBag.AnimalAgeTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnimalBreedId" class="control-label"></label>
                <select asp-for="AnimalBreedId" class ="form-control" asp-items="ViewBag.AnimalBreedId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnimalSizeId" class="control-label"></label>
                <select asp-for="AnimalSizeId" class ="form-control" asp-items="ViewBag.AnimalSizeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnimalFurTypeId" class="control-label"></label>
                <select asp-for="AnimalFurTypeId" class ="form-control" asp-items="ViewBag.AnimalFurTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnimalBehaviorTypeId" class="control-label"></label>
                <select asp-for="AnimalBehaviorTypeId" class ="form-control" asp-items="ViewBag.AnimalBehaviorTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Adopted" /> @Html.DisplayNameFor(model => model.Adopted)
                    </label>
                </div>
            </div>*@
            @*<div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <input asp-for="ApplicationUserId" class="form-control" />
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
