:root {
    --main-blue: #597EAA;
    --blue-var1: #9FC5F8;
    --blue-var2: #6FA8DC;
    --blue-var3: #085394;
    --blue-var4: #6FBAE4;
    --blue-var5: #e5e5ff;
    --main-grey: #383838;
    --grey-var1: #54565B;
    --light-grey: #F1F1F1;
    --dark-grey: #222222;
    --main-red: #cc0000;
    --red-var1: #ff0033;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

/*
    Session bar:
*/

.nav-session {
    z-index: 600;
    position: fixed;
    display: inline-flex;
    align-items: center;
    flex-flow: row wrap;
    height: 6vmin;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #02A69E;
    color: white;
}

.nav-session a {
    font-size: 1.1vmax;
    font-weight:500;
}

    .nav-session a, .nav-session a:visited, .nav-session a:link, .nav-session a:active {
        text-decoration: none;
        color: #02A69E;
    }

.nav-session a, .nav-session a:visited:hover, .nav-session a:link:hover, .nav-session a:active:hover {
    text-decoration: underline;
}

#session-logo {
    position: fixed;
    margin-left:0.6vw;
    width:100%;
}

#session-logo img {
    width: 15vmin;
    height: 4vmin;
    position:fixed;
    top:1%;
}

.session-name {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 1vw;
}
.session-name a, .session-name a:visited, .session-name a:link, .session-name a:active {
    text-decoration: none;
    color: var(--light-grey);
    font-size:1vw;
}

.session-name a:hover, .session-name a:visited:hover, .session-name a:link:hover, .session-name a:active:hover {
    text-decoration: none;
}

#logout{
    color:var(--blue-var4);
    font-size:1.0vw;
}

#logout:hover, #logout:visited:hover, #logout:link:hover, #logout:active:hover {
    text-decoration: underline;
}

.option-button {
    height: 1.3vmax;
    width: 1.3vmax;
    user-select:none;
}

.option-button:hover {
    cursor: pointer;
}

#help {
    margin-right: 2.1vw;
}

#notifications {
    position: relative;
    margin-right: 1.9vw;
}

.notifications-count{
    position:fixed;
    z-index:800;
    background-color:red;
    width:0.8vw;
    color:white;
    border-radius:50vw;
    font-size:0.55vmax;
    text-align:center;
    margin-left:95.3vw;
    margin-top:6.9vh;
    cursor:pointer;
    user-select:none;
}

#options {
    margin-right: 1vw;
}

.session-actions {
    position: fixed;
    margin-left: 87.5vw;
    width:100%;
}

.sign-up {
    margin-left:1vw;
}

.navbar-menu {
    z-index: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 6vmin;
    position: fixed;
    width: 100%;
    height: 4.5vmin;
    background-color: #02A69E;
}

.navbar-menu > ul {
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;
}


.navbar-menu li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin-left:4vw;
}

.navbar-menu li:first-child {
    margin-left: 0.94vw;
}

    .navbar-menu a, .navbar-menu a:visited, .navbar-menu a:link, .navbar-menu a:active {
        text-decoration: none;
        color: #02A69E;
        font-weight: bold;
        font-size: 1.2vmax;
        cursor: pointer;
    }


    .navbar-menu li:hover, .navbar-menu li:hover a {
        color: #02A69E;
        cursor: pointer;
    }


.navbar-menu img{
    opacity: 0.80;
}

.navbar-menu img:hover {
    opacity: 1;
}

.sub-menu {
    display: none;
    position: fixed;
    background-color: var(--blue-var4);
    min-width: 12vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 700;
    color: #02A69E;
    top: 10.5%;
    padding: 0;
}

.sub-menu li, .sub-menu li:first-child {
    position: relative;
    margin-left: 5%;
    margin-top: 7%;
}

.sub-menu li:first-child {
    margin-top: 2%;
}

    .sub-menu li a, .sub-menu li a:visited, .sub-menu li a:link, .sub-menu li a:active {
        text-decoration: none;
        color: #02A69E;
        font-weight: bold;
        font-size: 1.1vmax;
        display: inline-block;
    }

    .sub-menu li:hover, .sub-menu li:hover a {
        color: #02A69E
    }

.navbar-menu li:hover .sub-menu{
    display:block;
}

/*
    SUB-MENUS 
*/
.menu-settings {
    display: none;
    position: fixed;
    left: 86.9%;
    top: 10.5%;
    width: 13%;
    z-index: 700;
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-settings > ul {
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top: 0;
}


.menu-settings li {
    text-align: right;
    margin-right: 5%;
    display: block;
    list-style: none;
    font-size: 1.2vmax;
    height: 100%;
    margin-top: 1.5vmin;
}

.menu-settings a, .menu-settings a:visited, .menu-settings a:link, .menu-settings a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight: 500;
    font-size: 1.1vmax;
}

.menu-settings a:hover {
    font-weight: 700;
}

/*
    NOTIFICATIONS
*/
.notifications {
    display: none;
    position: fixed;
    left: 79%;
    top: 10.5%;
    width: 18%;
    z-index: 700;
}

.notifications > ul {
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top: 0;
}

.notifications li {
    text-align: center;
    margin-right: 5%;
    list-style: none;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-bottom: 1px solid lightgray;
    min-height:4vh;
    padding-top:3%;
}

.notifications li:hover {
    background-color: lightgray;
    cursor:pointer;
}

.notifications li:first-child {
    margin-top: 0;
}

.notifications a, .notifications a:visited, .notifications a:link, .notifications a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight: 500;
    font-size: 1.1vmax;
}

#fade-background {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: black;
    opacity: 0.6;
}


#background-image {
    width: 100%;
    height: 88.5vmin;
}

/*
   PROFILE
*/

.information {
    font-size: 95%;
    width: 80%;
    height: auto;
    position: absolute;
    top: 23%;
    margin-left: 15%;
    font-size: 1vmax;
}

.information tr {
    width: 100%;
}

.information tr>td {
    padding-bottom: 2%;
    padding-left: 3%;

}

.information a, .information a :visited, .information a :link, .information a :active {
    background-color: inherit;
    color: var(--blue-var4);
}

.editProfileForm {
    font-size: 1.2vmax;
    width: Auto;
    height: auto;
    position: absolute;
    top: 40%;
    margin-left: 20%;
}

.editProfileForm tr {
    position:relative;
    margin-top:20%;
    width:100%;
}

.profileImage {
    width: 10%;
    text-align:center;
    height: 30%;
    position: absolute;
    margin-left:36%;
}

.profile button {
    height: 7%;
    width: 20%;
    margin-top:2%;
    float: right;
    border: none;
    background-color: inherit;
    color: var(--blue-var4);
    font-weight: bold;
    font-size: 1vmax;
}

.profile button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#img {
    display: block;
}

.profile {
    position: relative;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 35%;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    overflow-y: auto;
}

.profileLabel
{
    font-weight: bold;
    width:20vw;
}

.page-title {
    font-size: 1.75vmax;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 1%;
    font-weight:bold;
}

/*
    EDITAR PERFIL
*/
.editProfile {
    font-size: 95%;
    width: Auto;
    height: auto;
    position: absolute;
    top: 55%;
    margin-left: 20%;
    
}

#saveProfile {
    height: 6%;
    width: 23%;
    position: absolute;
    margin-left: 70%;
    margin-top: 63%;
}

#changeImage {
    height: 8%;
    width: 20%;
    position: relative;
    margin-left: 40.2%;
    margin-top: 22%;
    font-size:0.95vmax;
}

/**
    INVITE TECHNICIAN
*/
.main-container-invite {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 27%;
    margin-left: 62%;
    margin-top:6.8%;
    min-height: 33.5vh;
    display:none;
    padding-top:0.5%;
    position:absolute;
}
.title-invite-tech {
    font-size: 1.2vmax;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.invite-form {
    margin:0 6%;
    position: absolute;
}

.invite-form label {
    position: relative;
    margin-top: 20%;
    font-size: 1.2vmax;
}

.invite-form input[type=text] {
    width: 22.2vw;
    padding: 6px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1vmax;
}

.invite-form input[type=submit] {
    width: 40%;
    background-color: var(--blue-var4);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1vmax;
    margin-left:60%;
}

#invite-tech-close {
    position: absolute;
    width: 1.7vw;
    height: 1.7vw;
    top: -3%;
    left: 95.5%;
    z-index: 999;
    cursor: pointer;
}

#submitButtonChangePassword {
    margin-right:23%;
    margin-bottom:3%;
}

.invite-form input[type=submit]:hover {
    background-color: var(--blue-var3);
}

.box-invites {
    width: 55%;
    margin-left: 23%;
    min-height: 38vh;
    margin-top: 4%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/*
    AUTENTICAR
*/
.logintitle {
    font-family: "Pacifico";
    font-size: 38px;
    width: 100%;
    text-align: center;
    margin-top: 3%;
    color: #FFFFFF;

}


.logintotal {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 70px 0;
    text-align:center;
}
.main-container-login {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: inline-block;
    width: 390px;
    background-color: #333333;
    border-radius: 25px;
  
    
   
}
.logincontent {
    display: block;
    position: center;
    margin-left: 50px;
    width: 300px;
}



.main-container-login table tr{
    line-height:5vh;
}

.login-form {
    margin-left: 13%;
    margin-top: 20%;
    padding-top:3.5%;
    position: relative;
}

.login-formlabel {
    position: relative;
    margin-top: 20%;
    font-size: 1.2vmax;
}

.login-form input[type=email], input[type="password"], #input-pw {
    width: 25.4vw;
    padding: 2% 3%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1vmax;
}

.login-form a, .login-form a:visited, .login-form a:link, .login-form a:active {
    text-decoration: none;
    color: var(--blue-var4);
    font-weight: 500;
    font-size: 1vmax;
    margin-left:28%;
}

.login-form a:hover, .login-form a:visited:hover, .login-form a:link:hover, .login-form a:active:hover {
    text-decoration: underline;
}

.login-form .form-error {
    color:var(--red-var1);
    float:left;
    font-size:0.95vmax;
    position:fixed;
    margin-top:1.8%;
    margin-right:3%;

}

#fyp-link {
    margin-left: 0;
}

.error-message {
    color: var(--red-var1);
    font-size: 0.94vmax;
}

.remember-me{
    width:100%;
    margin-top:3%;
    font-size:1.2vmax;

}

.login-form input[type=submit] {
    width: 100%;
    background-color: var(--blue-var4);
    color: white;
    padding: 0.7vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 2.15vw;
    font-size: 1.1vmax;
    margin-top:4.2%;
}

.login-form input[type=submit]:hover {
    background-color: var(--blue-var3);
}

.box-invites {
    width: 55%;
    margin-left: 23%;
    min-height: 38vh;
    margin-top: 4%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.main-container-fyp {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 25%;
    margin-left: 50.5%;
    min-height: 27vh;
    margin-right: auto;
    margin-left: 68.070%;
    position: absolute;
    margin-top: -27vh;
    display: none;
}

.main-container-fyp table tr {
    line-height: 5vh;
}


.fyp-form {
    margin-left: 4%;
    margin-top: 0%;
    padding-top: 3.5%;
}

.fyp-formlabel {
    position: relative;
    margin-top: 20%;
    font-size: 1.2vmax; 
}

.fyp-form input[type=email], input[type="password"] {
    width: 22.2vw;
    padding: 2% 3%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1vmax;
}


.fyp-form .form-error {
    color: var(--red-var1);
    float: left;
    font-size: 0.95vmax;
    position: fixed;
    margin-top: 0.2%;
    margin-left:0.3%;
}

.fyp-form input[type=submit] {
    width: 35%;
    background-color: var(--blue-var4);
    color: white;
    padding: 2.8%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 58.5%;
    font-size: 1.1vmax;
}

.fyp-form input[type=submit]:hover {
    background-color: var(--blue-var3);
}


#fyp-close {
    position: absolute;
    width: 1.7vw;
    height: 1.7vw;
    top: -3%;
    left: 95%;
    z-index: 999;
    cursor: pointer;
}

.body-panel {
    position: absolute;
    min-height: 87%;
    width: 100%;
    top: 10.5vmin;
    background-color: var(--light-grey);
    z-index: 100;
    padding-bottom:3%;
}


footer {
    background: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5vmin;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 800;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*
    MÁXIMO USÁVEL.
*/
@media screen and (max-width: 720px) {
    .navbar-menu,.nav-session, footer {
        
    }
}


.programDetails {
    position: relative;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 35%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    overflow-y: auto;
    text-align:center;
    padding-top:2%;
    padding-bottom:2%;
}

.programDetails img {
    width:30vw;
    height:9vw;
}

.programDetails input[type=button] {
    width: 75%;
    background-color: var(--blue-var4);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1vmax;
    margin-top: 5%;
}

.programDetails input[type=button]:hover {
    background-color: var(--blue-var3);
}

.programDetails p {
    font-size:1.1vmax;
}

.programDetails ul li {
    display: block;
    border: 1px solid #CCC;
    text-align: left;
    border-radius: 0.2vw;
    opacity: 1;
    margin-top: 0.8%;
    color: #222222;
    cursor: default;
    font-size: 1.2vmax;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.programDetails ul li {
    border: 1px solid #CCC;
    background: #F6F6F6;
    color: var(--blue-var2);
    padding: 0.4vw;
    width:70%;
    margin-left:11%;
}


/* CONTACT */
.main-container-contacts {
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    width: 32%;
    margin-left: 34%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-bottom: 1%;
    padding-top: 0.1%;
}



.main-container-contacts a{
    color: var(--blue-var3)
}

.icon-img {
    height: 14px;
    width: 14px;
    padding-left: 1em;
}

.tableContact {
    margin-top: 3%;
}

.signature-pad > canvas {
    display: block;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
    margin-bottom: 5px;
    user-select: none;
}

.hyperlink {
    background-color: inherit;
    color: black;
    font-weight: bold;
    font-size: 1vmax;
    text-decoration: none;
}


.hyperlink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-clear-canvas {
    background-color: #222222;
    border-radius: 3%;
    border: 0.7px solid #222222;
    color: #f1f1f1;
    padding: 4%;
    font-size: 1vmax;
    width: 8vw;
    display: inline-block;
}

.btn-clear-canvas:hover {
    background-color: var(--blue-var4);
    cursor: pointer;
    border: 0.7px solid var(--blue-var4);
}

.application-form-pager input[type=submit] {
    background-color: #222222;
    border-radius: 3%;
    border: 0.7px solid #222222;
    color: #f1f1f1;
    padding: 4%;
    font-size: 1vmax;
    width: 12vw;
    display: inline-block;
}

    .application-form-pager input[type=submit]:hover:enabled {
        background-color: var(--blue-var4);
        cursor: pointer;
        border: 0.7px solid var(--blue-var4);
    }